<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<style>
body {
    text-align: center;
    font-family: Arial;
    background: linear-gradient(to right,#4e73df,#1cc88a);
    color: white;
    padding-top: 120px;
}

.input-box {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.login-btn {
    padding: 10px 20px;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
</style>

</head>

<body>

<h2>Login</h2>

<form method="POST">

<label>Username</label><br>
<input type="text" name="username" class="input-box"><br><br>

<label>Password</label><br>
<input type="password" name="password" class="input-box"><br><br>

<button type="submit" class="login-btn">Login</button>

</form>

</body>
</html>